<table class="purchases">
  <thead>
    <tr>
      <th>Drifveri</th>
      <th>Aktivt</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |t| %>
      <tr>
        <td><%= link_to t.year, t %></td>
        <td><%= t.active ? 'Ja' : 'Nej' %></td>
      </tr>
    <% end %>
  </tbody>
</table>