<header id="header">
    <h1>Drifveriets Brutala Baxapplikation</h1>
   
</header>

<body>
    <%= image_tag("tequilacroquet.jpg", :class => "tequilacroquet") %>
	<div class="buttons">
    </div>
</body>