<div class="homepage">
<h1>Drifveriets Baxapp</h1>
<%= image_tag("tequilacroquet17slim.jpg", :class => "tequilacroquet") %>
<div class="mobile-only">
<% if logged_in? %>
<h2>Hej <%= @user.name %></h2>
<% end %>
	<div id="buttons-home">
	<% if logged_in? %>
      <span>
        <%= link_to "Strecka", new_purchase_path %>
      </span>
      <span>
        <%= link_to "Mina streck", purchases_user_path(id: current_user.id) %>
      </span>
      <span>
      <% end %>
</div>
</div>


	