<h1>Drifveriets brutala baxapp</h1>
<%= image_tag("tequilacroquet.jpg", :class => "tequilacroquet") %>
<div class="mobile-only">    
    <div class="strecka-button">
    	<%= button_to "Strecka", products_path, :class => "button", :method => :get  %>
    </div>
    <%= button_to "Mina streck", purchases_path, :class => "button", :method => :get  %>
</div>
	