<h1>Nytt lager</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@inventory) do |f| %>

      <%= f.label :Total %>
      <%= f.number_field :total, class: 'form-control' %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>