<li class="user">
  <%= gravatar_for user, size: 250 %>
  <h2>
    <%= link_to user.name, user %>
  </h2>
  <h4>
    <%= user.debt %> pix
  </h4>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
