<h1>Baxbollstoppen</h1>
<table class="purchases">
  <thead>
    <tr>
      <th>Drifter</th>
      <th>Baxbollar</th>
    </tr>
  </thead>

  <tbody>
    <% @toplist.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.baxbollar %></td>
      </tr>
    <% end %>
  </tbody>
</table>

