<div class="profile">
  <%= render @user %>
  <table class="purchases">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.product.name %></td>
          <td><%= purchase.product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
