<section class="profile">
  <%= render @user %>
  <% if current_user.admin? && !current_user?(@user) %>
    <%= button_to "Delete user", @user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>

  <% if current_user?(@user) %>
    <h4><%= link_to 'Visa dina streck', purchases_user_path %></h4>
  <% end %>
</section>
