<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "Ta bort produkt", f, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= f.input :quantity, label: false %></td>
  <td><%= f.input :product_id, label: false %></td>
</tr>