<div class="row">
  <h2 class="title">Ändra inköp</h2>
</div>

<section>
  <div class="row">
    <%= render 'form', order: @order %>
    <%= link_to 'Show', @order %> |
    <%= link_to 'Back', orders_path %>
  </div>
</section>