<div class="row">
  <h2 class="title">Redigera inbetalning</h2>
</div>

<div class="row">
  <%= render 'form', payment: @payment %>
  <%= link_to 'Visa', @payment %> |
  <%= link_to 'Tillbaka', payments_path %>
</div>

