table.carts {
  @media only screen and (max-width: 750px) {
    width: 100% !important; 
  }

  width: 50%;
  margin-left: auto; 
  margin-right: auto; 

  tbody tr:nth-child(odd) {
    background: lighten($background-color, 5%);
  }

  th, td {
    padding: 1em;
  }
}

.carts form {
  @media only screen and (min-width: 750px) {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
  }
  select {
    height: 3em;
  }
}
