@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 5vw;
    text-align: center;
    color: #DF3D82;
    letter-spacing: 0.05em;
    clear: both;
}

a {
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	color: #9a1951;
}

form {
	color: #DF3D82;
	font-family: 'Roboto Slab', serif;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body {
    background-color: #191919;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.buttons {
	text-align: center;
	padding-top: 1.5%;
}

a.newuser {
	font-family: 'Bungee', cursive;
    font-size: 30px;
    text-align: center;
    color: #DF3D82;
    letter-spacing: 0.05em;
    text-decoration: none !important; 
}

a.newuser:hover {
	color:#9a1951 ;
}

.tequilacroquet {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin: 0 auto; 
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}