@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

/* mixins, variables, etc. */

$accent-color: #E53155;
$accent-hover: #9a1951;
$background-color: #1a1a1a;
$menu-color: #10100F;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
    background-color: $background-color;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: $accent-color;
}

a {
  font-family: 'Roboto', sans-serif;
    color: $accent-color !important;
}

a:hover {
   color: $accent-hover;
}


header {
  background-color: $menu-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  // justify-content: center;

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    // width: 33.33%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-right: 1em;
    }
  }


  li {
    display: inline;
  }
}

.dropdown-menu {
  background-color: $menu-color;
}

#logo {
  height: 2em;
  width: auto;
  padding-left: 1em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 6vw;
    text-align: center;
    color: $accent-color;
    letter-spacing: 0.05em;
    clear: both;
}

a {
  font-family: 'Roboto', serif;
  text-decoration: none;
  color: $accent-color;
}

form {
  color: $accent-color;
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin: 0 auto;
}

main {
  margin: 33px;
}

button, input[type="submit"] {
  background-color: $accent-color;
  color: black;
  padding: .75em;
  border: none;
  border-radius: 6px;
}

.buttons {
  text-align: center;
  padding-top: 1.5%;
}

a.newuser {
  font-family: 'Bungee', cursive;
    font-size: 30px;
    text-align: center;
    color: $accent-color;
    letter-spacing: 0.05em;
    text-decoration: none !important;
}

a.newuser:hover {
  color:$accent-hover;
}

.tequilacroquet {
  width: 100%;
  height: auto;
  max-width: 900px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  border-radius: 50%;
//   float: left;
//   margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

form {
  align-content: center;
}

label {
  font-size: 16px;
  font-family: 'Roboto', serif;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn {
  background-color: $accent-color;
}

.btn:hover {
  background-color: $accent-hover;
}

p {
  color: $accent-color;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    text-align: center;
  }
}

.products {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.alert-notice {
  width: 90%;
  background: $accent-color;
  color: black;
  text-align: center;
  padding: 1em;
  // position: absolute;
  margin: 3em auto;
}

li {
  list-style-type: none;
  padding: 0;
}

main {
  margin-top: 5em;
}

img {
  display: block;
  margin: auto;
}

section {
  text-align: center;
}

@media only screen and (min-width: 750px) {
.mobile-only {
  display: none;
  }
}

  @media only screen and (max-width: 750px) {
    .menu {
      font-size: 4vw;
    }
    
    h1 {
      font-size: 35px; 
      text-align: center; 
    }
  }

.mobile-only {
  padding-top: 3%; 
  text-align: center; 
  font-size: 7vw;
}

.actions {
  padding-top: 2%; 
}
