@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

/* mixins, variables, etc. */

$accent-color: rgb(237, 24, 105);
$accent-color-light: lighten($accent-color, 10%);
$accent-hover: #c11f3f;
$background-color: rgb(40, 40, 40);
$menu-color: rgb(25, 25, 25);
$menu-light: #21211e;
$gray-medium-light: #eaeaea;
$light_grey: rgba(240,240,240,1);
$text: rgb(175, 175, 175);
$text_dark: rgb(125, 125, 125);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background-color: $background-color;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: $text;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

tr {
  .gravatar {
    width: 2.25em;
    height: 2.25em;
    margin-right: 0.5em;
  }
}

td {
  vertical-align: middle;
}

td a, td input, td img {
    vertical-align: middle;
    display: inline-block;
}

.inline {
  vertical-align: middle;
}

.inline-content {
  vertical-align: middle;
  display: inline-block;
}

.heading {
  padding-top: 2%;
}

h1 {
    font-size: 5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: $accent-color;
}

h2 {
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: $accent-color;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: $accent-color;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
}

h5  {
  font-size: 1.5em !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text;
}

h6, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text;
}

p, input, button {
    font-family: 'Roboto', sans-serif;
}

title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 13vw  !important; 
  }

  h2 {
    font-size: 5vh !important; 
  }
}

.dropdown-menu {
  background-color: $menu-color; 
  li {
    a:hover {
      background-color: $menu-light; 
    }
  }
}

#logo {
  height: 2em;
  width: auto;
  padding-left: 1em;
}



.debug_dump {
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  display: none; 
}


@media only screen and (max-width: 750px) {
  main {
    margin: 15% auto; 
  }
}

main {
  flex: 1;
}

.buttons {
  text-align: center;
  padding-top: 1.5%;
}

.tequilacroquet {
  width: 50%;
  height: auto;
  max-width: 900px;
}

.gravatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.gravatar_edit {
  text-align: center; 
  margin: 0 auto; 
  .gravatar-link {
    padding-top: 2%; 
  }
}


input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn {
  background-color: $accent-color;
}

.btn:hover {
  background-color: $accent-hover;
  color: black; 
}

.btn:active {
  background-color: $accent-hover;
  color: black; 
}

.alert-notice {
  width: 25%;
  background: $accent-color;
  color: black;
  text-align: center;
  margin: 0 auto;
}


li {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  margin: auto;
}

.main {
  padding-left: 15%;
}

section {
  display: block;
  text-align: center;
}

.row {
  padding-left: 25%;
  padding-right: 25%;
}

@media only screen and (max-width: 750px) {
  .alert-notice {
    width: 100% !important; 
  }

  .main {
    padding: 0;
  }

  .row {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  button, input[type="submit"] {
    width: 50% !important; 
    height: 2.5em !important;
  }
  .menu {
    font-size: 3vw;
    float: right; 
  }
  
  .alert-notice {
    width: 100%;
  }

  .actions {
    padding-top: 2%;
  }

  .computer {
    header {
      display: none; 
    }
  }

  .home-title {
    padding-top: 10%; 
  }
}

@media only screen and (min-width: 750px) {
  .alert {
    margin-left: 15%;
  }
  table {
    tr {
      width: 100% !important; 
    }

  }
  .mobile {
    header {
      display: none; 
    }
  }
}

img.menu-icon {
  height: 25px !important; 
}

@media only screen and (max-width: 750px) { 
  p {
    font-size: 4vmin;
  }
  ul.users {
    padding: 0; 
  }
}


.centered-buttons-outer {
  padding-top: 2%; 
  text-align: center; 
  .centered-buttons-inner {
    width: 100% !important; 
    margin: auto; 
  }
}

.h4-center {
  h4 {
    text-align: center; 
  }
}

.centered-text {
  text-align: center;
}

.messenger-message {
  background-color: $menu-light;
  color: $accent-color;
  border: none;
}

.pie-chart-container {
  display: flex;
  justify-content: space-between;
}
