.icons {
  .icons-row {
    display: table;
    margin: 0 auto;
    padding: 2%; 
    h4 {
      text-align: center; 
    }
    .icon {
      display: table-cell;
      img {
        margin: 2rem; 
        height: 10rem; 
      }
    }
    .icon:hover {
      opacity: 0.8; 
    }
  }
}

.home-title {
  h1 {
    text-transform: uppercase; 
  }
}