input.btn.btn-primary {
    color: white;
    background-color: $accent_color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}

.form-control {
    background: $light_grey;
}

.login_form_wrapper {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    width: 25%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 2%;
    background-color: transparent;
}

@media (max-width: 480px) {
    .login_form_wrapper {
        width: 90%;
        margin-top: 8%;
    }
}
