input.btn.btn-primary {
    color: white;
    background-color: $accent-color;
    border-color: $accent-color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-top: 2%;
}

input.btn.btn-primary::after {
    border-color: $accent-color !important;
    background-color: $accent-color-light;
}

select::after{
    border-color: $accent-color !important;
    background-color: $accent-color-light;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    margin-top: 5%;
}

.form-control {
    background: $light_grey;
}

.login_form_wrapper {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    width: 25%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 2%;
    background-color: transparent;
}

select {
    color: $text_dark;
    height: 3em;
}

form {
    width: 100%;
}

@media (max-width: 480px) {
    form {
        margin: 0 auto;
        width: 100%;
    }
    .login_form_wrapper {
        width: 100% !important;
        margin-top: 8%;
    }
}
