$accent-color: rgb(237, 24, 105);
$text: rgb(175, 175, 175);

.logo {
    width: 7.5em;
    height: 7.5em;
    padding: 1%;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.register_text {
    margin-top: 4%;
    text-align: center;
    a {
        color: $text;
    }
}

h1.title {
    font-size: 4em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: $accent-color;
}

@media only screen and (max-width: 750px) {
    h1.title {
        margin-top: 10%;
    }
}
