$menu-color: rgb(25, 25, 25);

@media only screen and (max-width: 750px) {
  .sidenav {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 15em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $menu-color;
  overflow-x: hidden;
  padding-top: 20px;
  overflow:auto;
}

.sidenav a {
  color: $accent-color;
  padding: 5% 3% 3% 10%;
  display: block;
  width:100%;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
  clear: both;
}

.sidenav a:hover {
  color: $accent-hover;
}

#logo {
  height: 3em;
  width: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
}


.bottom {
  padding-left: 1%;
  position: fixed;
  bottom: 0;
}

.sidenav {
  img.gravatar {
    margin-left: 8%;
    display: block;
    width: 2.25em;
    height: 2.25em;
  }
}

p.footer {
  color: $accent-color;
  font-size: 0.75em;
}

.discrete {
  a {
    font-size: 2vmin;
  }
}

