// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.products {
  li {
    margin: 1em auto;
    text-align: center;
    width: 50%;
    display: block;
    float: left;
  }
}

.product {
  text-align: center;
}
