// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.products {
  display: flex;
  flex-wrap: wrap;
  .product {
    text-align: center;
    flex: 0 0 100%;
    padding: 1em;
    @media (min-width: 40em) {
      flex: 0 0 50%;
    }
    @media (min-width: 70em) {
      flex: 0 0 33.333%;
    }
    @media (min-width: 95em) {
      flex: 0 0 25%;
    }
  }
}
