.makeawishform {
	margin-top: 2% !important;
}

.makeawishtable {
	margin-top: 2% !important;
}

.thumb-icon {
    margin: 0 auto;
    height: 20px;
    display: block;
}

td.no-padding {
    margin: 0 !important;
    padding: 0 !important;
}