// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile .user {
  text-align: center;
  margin: 0 auto;
  .gravatar {
    margin: 0 auto;
    width: 250px;
    height: auto;

  }
}

.users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .user {
    text-align: center;
    padding: 1em 0;
    flex: 0 0 100%;
    @media (min-width: 40em) {
      flex: 0 0 50%;
    }
    @media (min-width: 55em) {
      flex: 0 0 33.333%;
    }
    @media (min-width: 75em) {
      flex: 0 0 25%;
    }
  }
}

.admin {
  button, input[type="submit"] {
    background-color: $accent-color;
    color: black;
    padding: .75em;
    border: none;
    border-radius: 6px;
    width: 25%; 
    float: center !important; 
  }

}
