<h1>Alla produkter</h1>
<table class="purchases">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Pris</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Ändra', edit_product_path(product) %></td>
        <td><%= link_to 'Ta bort', product, method: :delete, data: { confirm: 'Är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


